### Procuderal Programming
Code is grouped in procedures

In [3]:
import shop_procedural_programming as shop  # we import the procedures from a script file

In [12]:
# this auto-relaods the imported modules when edited
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
path = 'data'
shop.load_transactions_from_folder(path)
shop.df

transactions_2024-01.csv
transactions_2024-02.csv
transactions_2024-03.csv
18 transactions loaded

    customer_id        date  product_id product_name  product_price  quantity
0          1234  2024-01-01         555       Laptop            999         1
1          1234  2024-01-01         666   Headphones            149         1
2          1234  2024-01-02         444        Mouse             49         1
3          4321  2024-01-05         666   Headphones            149         2
4          4321  2024-01-02         444        Mouse             49         3
5          7234  2024-01-05         666   Headphones            100         1
6          4321  2024-02-13         555       Laptop            790         1
7          1234  2024-02-13         666   Headphones            129         1
8          4321  2024-02-15         444        Mouse             59         1
9          7234  2024-02-22         666   Headphones            129         2
10         4321  2024-02-25         444        Mouse             59         3
11         7234  2024-02-25         666   Headphones             80         1
12         7234  2024-03-07         555       Laptop           1010         1
13         7234  2024-03-07         666   Headphones            172         1
14         1234  2024-03-12         444        Mouse             61         1
15         7234  2024-03-12         666   Headphones            172         2
16         4321  2024-03-31         444        Mouse             61         3
17         4321  2024-03-31         666   Headphones             80         1

In [15]:
shop.print_revenue_per_customer()

customer_id: 1234, revenue: 1387 CHF
customer_id: 4321, revenue: 1734 CHF
customer_id: 7234, revenue: 1964 CHF

In [16]:
shop.print_revenue_per_month()

date: 2024-01, revenue: 1742 CHF
date: 2024-02, revenue: 1493 CHF
date: 2024-03, revenue: 1850 CHF

In [17]:
shop.print_customer_transactions(customer_id=1234)

customer_id: 1234
- date: 2024-01-01, revenue total: 1148 CHF
  - id: 555, name: Laptop, price: 999, quantity: 1, revenue: 999
  - id: 666, name: Headphones, price: 149, quantity: 1, revenue: 149
- date: 2024-02-01, revenue total: 49 CHF
  - id: 444, name: Mouse, price: 49, quantity: 1, revenue: 49
- date: 2024-13-02, revenue total: 129 CHF
  - id: 666, name: Headphones, price: 129, quantity: 1, revenue: 129
- date: 2024-12-03, revenue total: 61 CHF
  - id: 444, name: Mouse, price: 61, quantity: 1, revenue: 61

### Review

##### The Good
- code is split up into reusable functions
- implementation details are hidden behind the function names
- code can be used in PROD and in Jupyter Notebooks

##### The Bad
- order of execution still matters if functions have "side-effects"
- changes on data structure must be updated in each functions (e.g. add "shipping_cost")